<!DOCTYPE html>
<html>
<head>
    <title>Pure Smile</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico?v=3" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico?v=3" type="image/x-icon" />
    @Scripts.Render("~/bundles/jquerymin")
    @Styles.Render("~/Content/style.css")
    @Styles.Render("~/Content/site.css")
    @Styles.Render("~/Content/spin.css")

</head>
<body>
    <div class="navbar navbar-fixed-top bs-docs-nav">
        <div class="container">
            <div class="collapse navbar-collapse bs-navbar-collapse">
                <img id="img_logo" alt="Logo" src="@Url.Content("~/Content/images/PureSmile_logo.svg")" width="120" height="60">
               
            </div>
        </div>
    </div>
    <header>
        <div class="container">
            <div class="row">
            </div>
        </div>
    </header>
    <div class="content">

        <div class="mainbar">
            @RenderBody()
        </div>
    </div>
</body>
</html>
